/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Sticky Navigation Bar with Transition */
.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
    transition: background-color 0.5s ease, padding 0.5s ease;
}

.navbar {
    padding: 1rem 0;
    transition: padding 0.3s ease;
}

.navbar.scrolled {
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.9); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

/* Section Styles */
#about, .about-section {
    height: 100vh;
    background-color: #121212;
    padding: 60px 0; 
}

#about h2, .section-title {
    margin-bottom: 20px; 
}

#about p {
    font-size: 1.2rem; 
    line-height: 1.5; 
}

/* Navigation */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    position: relative;
    display: inline-block;
    padding-bottom: 5px; 
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; 
    background-color: #00ccff; 
    transition: width 0.3s ease; 
}

.nav-link:hover::after {
    width: 100%; 
}

/* Background Particles */
#particles-js {
    position: fixed; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; 
}

/* Hero Section */
.hero {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
    overflow: hidden; 
}

.hero-background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 100%), url('your-image.jpg') no-repeat center center / cover;
    animation: moveBackground 10s linear infinite; 
    z-index: -1; 
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.hero__skill, .hero__desc, .hero__btn {
    margin-top: 20px;
}

.hero__title {
    font-size: 35px;
    white-space: nowrap;
}

@media (max-width: 576px) {
    .hero__title {
        font-size: 1.5rem;
    }
}

.hero__content {
    text-align: center;
}

.hero__image {
    margin-left: 20px; 
}

p.hero__desc {
    color: #e0e0e0;
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Button Effect */
.hero__btn--link {
    display: inline-block;
    padding: 12px 24px;
    background-color: #00ccff; 
    color: white; 
    text-decoration: none; 
    border-radius: 0px; 
    font-size: 16px;
    font-weight: bold; 
    letter-spacing: 1px; 
    text-transform: uppercase; 
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.hero__btn--link:hover {
    background-color: #0099cc; 
    color: white;
    transform: translateY(-3px) scale(1.05); 
}

.btn--icon {
    margin-left: 8px; 
}

/* Typing Effect */
.typing-effect {
    margin-top: 20%;
    font-size: 4.5rem;
    display: inline-block;
    border-right: 3px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation: caret 0.75s step-end infinite;
    height: 1.2em;
}

@keyframes caret {
    50% {
        border-color: transparent; /* Blinking effect */
    }
}

/* Social Media Icons */
.social-icons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.social-icons a {
    color: #ffffff;
    font-size: 24px; 
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

@media (max-width: 768px) {
    .social-icons a {
        font-size: 20px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 576px) {
    .social-icons a {
        font-size: 18px;
        width: 30px;
        height: 30px;
    }
}

.social-icons a:hover {
    background-color: #00ccff;
    transform: translateY(-5px);
}
/*End of Hero Section */

/* About Section Styles */
.row.align-items-start.h-100 {
    padding-top: 150px;
}

.container.h-100 {
    height: 100%; 
}

.about {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #080808;
}

.about::after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: -250px;
    width: 45%;
    height: 1200px;
    background: #00ccff;
    z-index: -1;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}

.about-text {
    display: flex;
    flex-direction: column; 
}

.about-text h2 {
    font-family: math;
    font-size: 4.5rem; 
    color: white; 
}

.about-description {
    color: #e0e0e0; 
    font-size: 18px; 
    line-height: 1.6; 
    animation: fadeIn 1s ease-in-out; 
}

.about-image {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
    width: 80%; 
    border-radius: 10px;
    animation: slideIn 1s ease-in-out; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .about-image {
        width: 100%; 
    }
}

/* About Section */
.full-height {
    min-height: 100vh;
}

.about-image {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.about-text {
    padding: 20px;
}

/* About Section Bullet */
.about-bullets {
    font-size: 1.2rem;
    line-height: 1.5;
    animation: slideIn 1s ease-in-out; 
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap;
}

.about-bullets .bullet {
    color: #e0e0e0;
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s, transform 0.3s, opacity 0.3s;
}

.about-bullets .bullet:hover {
    color: #00ccff; 
    transform: scale(1.1);
}

.bullet.active {
    transform: scale(1.1); 
    transition: transform 0.3s; 
}

.personal-info h3 {
    color: #00ccff;
}

.personal-info {
    display: none; 
    opacity: 0;
    transition: opacity 0.3s;
}

.personal-info.active {
    display: block; 
    opacity: 1; 
}

div[id$="-info"] {
    padding-top: 25px;
}

.section-title {
    animation: slideIn 1s ease-in-out; 
    position: relative;
    display: inline-block;
    font-size: 2em;
}

.section-title::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #00ccff;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.section-title:hover::after {
    width: 100%; 
}

/* Responsive Adjustments */
@media (max-width: 992px) {
    .about-image {
        max-width: 100%;
    }

    .about-text {
        padding: 10px;
    }

    .about-bullets {
        font-size: 1rem;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 1.5em;
    }

    .about-description {
        font-size: 0.9rem;
    }
}
/* End of About Section Styles */

h2.section-title.text-center {
    text-decoration: none;
    margin-left: 35%;
    font-family: math;
    font-size: 4.5rem;
    text-align: center;
    color: white;
}

/* Services Section */
.services {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

/* Paragraph fade-in animation */
.services p {
    color: #ddd;
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    animation-delay: 0.8s;
}

/* Card styling */
.service-card {
    background: #111111;
    padding: 40px; 
    position: relative;
    transition: all 0.35s ease;
    z-index: 1;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Delay for individual cards */
.service-card:nth-child(1) {
    animation-delay: 0.2s;
}

.service-card:nth-child(2) {
    animation-delay: 0.4s;
}

.service-card:nth-child(3) {
    animation-delay: 0.6s;
}

/* Icon styling */
.service-icon {
    color: #00ccff;
    margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .service-card {
        margin-bottom: 20px;
    }
}
/* End of Service Section */

/* Portfolio Section */
h1.portfolio__title.title.mb-4 {
    font-size: 3.5rem;
    font-family: math;
}
p.portfolio__desc.mb-5 {
    font-size: larger;
}
.portfolio {
    padding: 50px 0;
    min-height: 100vh; 
    background-color: #080808; 
    color: white; 
}

.portfolio__img--wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 0px;
    margin-bottom: 15px;
}

.portfolio__img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.5s ease, transform 0.5s ease;
}

.portfolio__img--wrapper:hover .portfolio__img {
    filter: grayscale(0%);
    transform: scale(1.03);
}

.portfolio__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease; 
    color: #fff;
    text-align: center;
    padding: 20px;
}

.portfolio__img--wrapper:hover .portfolio__overlay {
    opacity: 1;
}

.portfolio__project--title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.portfolio__project--desc {
    font-size: 0.9rem;
    margin: 0;
    text-align: center;
}

/* Responsive Adjustments for Portfolio Title */
@media (max-width: 992px) {
    .portfolio__title {
        margin-top: 30px;
        font-size: 2.5rem;
    }
}

@media (max-width: 576px) {
    .portfolio__title {
        margin-top: 92vh;
        font-size: 2rem;
    }
}

/*End of Portfolio Section */

/* Contact Section */
div#contact {
    height: 80vh;
    position: relative;
    padding: 60px 0;
    background-color: #222;
    color: #f0f0f0;
    overflow: hidden;
    z-index: 0;
}

div#contact::before {
    content: "";
    position: absolute;
    top: 0;
    right: -250px;
    width: 50%;
    height: 100%;
    background: #00ccff;
    z-index: -1;
    transform: skew(20deg);
    opacity: 1;
}

p.contact__section--desc.pb-3 {
    font-size: 1.2rem;
}

.contact {
    padding: 60px 0;
    background-color: #222;
    color: #f0f0f0;
}

.contact__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact__name {
    font-family: math;
    margin-top: 15%;
    margin-right: 34%;
    font-size: 4rem;
    color: #00ccff;
    position: relative;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
}

.contact__name .title__bg--text {
    font-size: 80px;
    color: rgba(0, 204, 255, 0.1);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
}

.contact__info {
    margin-bottom: 40px;
    font-family: 'Arial', sans-serif;
}

.contact__info--title {
    font-size: 1.1rem; 
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
}

.contact__info--item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: 600;
}

/* Icon color set to blue */
.contact__info--icon i {
    font-size: 24px;
    color: #00ccff;
    margin-right: 15px;
}

/* Email alignment and style */
.contact__info--email {
    display: inline-block;
    margin-left: 10px;
    font-style: italic;
    color: #f0f0f0;
    font-weight: 500;
}

/* Styling "Get in Touch" */
.contact__title--big {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

/* Input field styles */
.contact__form--input {
    background-color: #333;
    color: #ffffff;
    border: none;
    padding: 12px 15px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact__form--input::placeholder {
    color: #aaaaaa;
}

.contact__form--input:focus {
    background-color: #444;
    color: #ffffff;
}

/* Button styles */
.contact__btn--link {
    background-color: #00ccff;
    color: #ffffff;
    padding: 12px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.contact__btn--link:hover {
    background-color: #0099cc;
    transform: translateY(-3px);
}

.contact__btn .btn--icon {
    margin-left: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact__name .title__bg--text {
        font-size: 60px;
    }

    .contact__info {
        text-align: center;
    }

    .contact__row {
        flex-direction: column;
        text-align: center;
    }

    .contact__form--group {
        width: 100%;
    }
}

/* Card holder style */
.contact-card {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: white;
    position: relative;
    overflow: hidden;
}


.contact-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.contact__form--input,
.contact__form--input.textarea {
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #00ccff;
    border-radius: 5px;
    padding: 10px;
    transition: border-color 0.3s ease;
}

.contact__form--input:focus {
    border-color: #0099cc;
    outline: none;
}

/* Animated blue bar effect */
.contact-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #00ccff;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.contact-card:hover::before {
    transform: translateY(0);
}
/*End of Contact Section */

/* Footer */
footer {
    background-color: #000;
    padding: 1rem 0;
}

.footer {
    background-color: #080808;
    color: #ffffff;
}

.footer-social-icons {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-left: -60%;
}

.footer-social-icons a {
    color: #ffffff;
    font-size: 18px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.footer-social-icons a:hover {
    background-color: #00ccff;
    transform: translateY(-4px);
}

@media (max-width: 768px) {
    .footer-social-icons a {
        font-size: 16px;
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 576px) {
    .footer-social-icons a {
        font-size: 14px;
        width: 24px;
        height: 24px;
    }
}
